<section class="author">
    <div class="authorimage" style="background: url({{author.image}})"></div>
    <h4>{{author.name}}</h4>
    <p class="bio">{{author.bio}}</p>
    <p class="meta">
      {{#if author.website}}<i class="fa fa-fw fa-globe"></i> <a href="{{author.website}}">{{author.website}}</a><br>{{/if}}
      {{#if author.location}}<i class="fa fa-fw fa-map-marker"></i> {{author.location}}{{/if}}
    </p>
</section>
