{{!< default}}

<main class="content" role="main">

    <article class="{{post_class}}">

        {{#post}}

        <header>
        <h1 class="post-title">{{{title}}}</h1>
        <div class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time></div>
        </header>

        <section class="post-content">
            {{content}}
        </section>

        <section class="post-tags">
            {{#if tags}}<div class="post-meta tags"><i class="fa fa-fw fa-tag"></i> {{tags}}</div>{{/if}}
        </section>

        <section class="share">
            <p class="backtotop"><a data-scroll href="#site-head"><i class="fa fa-lg fa-fw fa-angle-double-up"></i></a><a data-scroll class="backtotoptext" href="#site-head"> Back to top</a></p>
            <p class="info prompt">Share</p>
            <a href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}" title="Share on Twitter"
                onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                <i class="fa fa-2x fa-fw fa-twitter-square"></i> <span class="hidden">Twitter</span>
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" title="Share on Facebook"
                onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                <i class="fa fa-2x fa-fw fa-facebook-square" style="margin-left: -8px"></i> <span class="hidden">Facebook</span>
            </a>
            <a href="https://plus.google.com/share?url={{url absolute="true"}}" title="Share on Google+"
               onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                <i class="fa fa-2x fa-fw fa-google-plus-square" style="margin-left: -8px"></i> <span class="hidden">Google+</span>
            </a>
        </section>

        <footer class="post-footer">
            {{> post-author}}
        </footer>

        {{/post}}

        {{!> comments-disqus}}
        {{!> comments-facebook}}
        {{!> comments-google-plus}}

    </article>

</main>
